/* Alan Sans */
@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

* {
  font-family: "Alan Sans", sans-serif;
  font-weight: 500;
}
:root {
  --brand-primary: #FF6B35; /* Vivid Orange */
  --brand-secondary: #0B1B32; /* Navy Blue */
  --brand-light: #F8F9FA;
}
